body {
    background-color: #FFF5EB;
}
h1 {
    color :#1EAE98;
}
h3 {
    color :#1EAE98;
}
hr {
     border-style: dotted none none;
     border-color: grey;
     border-width: 5px;
     width: 3%;
}    
.circular {
    border-radius: 100%;
}
h1:hover {
    color: gold;
}
h3:hover {
    color: gold;
}
